.main-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, .25);  
  backdrop-filter: blur(5px);
}

.title {
  margin: 0;
  font-weight: bolder;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.input-text {
  margin-bottom: 0.2rem;
  margin-top: 1rem;
  font-size: 0.85rem;
}

.input-container {
  background-color: white;
  width: 100%;
  display: flex;
  padding: 0.2rem;
  border-radius: 0.4rem;
  align-items: center;
  gap: 0.3rem;
}
.input {
  outline: none;
  border: none;
  flex-grow: 1;
}

.button {
  margin-top: 1.5rem;
  border: none;
  width: 100%;
  padding: 0.3rem;
  border-radius: 0.4rem;
  background-color: #ef5b88;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:active {
  transform: scale(1.05);
}

.error-msg {
  margin: 0;
  background-color: rgb(225, 80, 80);
  color: white;
  font-size: 0.7rem;
  width: 100%;
  margin-top: 0.2rem;
  text-align: center;
}

.link {
  width: 100%;
  font-size: 0.8rem;
  text-align: right;
  margin-top: 1rem;
}

.link-text {
  color: blue;
  cursor: pointer;
}

.error-msg {
  margin: 0;
  background-color: red;
  color: white;
  margin-top: 0.6rem;
}