.main-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, .3);  
  backdrop-filter: blur(5px);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-title {
  font-weight: bolder;
}

.name-container {
  font-size: 0.85rem;
}

.button {
  border: none;
  cursor: pointer;
  background-color: rgb(108, 108, 239);
  padding: 0.2rem;
  border-radius: 0.3rem;
  width: 4rem;
  text-align: center;
  color: white;
  font-size: 0.8rem;
}